@using MultiShop.Business.Dtos
@model List<SliderDto>
@{
    var mainSliders = Model.Where(s => s.Position == Position.Top).ToList();
    var rightSliders = Model.Where(s => s.Position == Position.Right).ToList();
}
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    @foreach(var item in mainSliders)
                    {
                        if (item.Order.HasValue && item.Order == 1)
                        {
                            <li data-target="#header-carousel" data-slide-to="@(item.Order-1)" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#header-carousel" data-slide-to="@(item.Order - 1)"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach(var item in mainSliders)
                    {
                        if (item.Order.HasValue && item.Order == 1)
                        {
                            <div class="carousel-item position-relative active" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="@item.Image" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">@item.Header</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">@item.Content</p>
                                        @{
                                            int categoryId = 0;
                                            if (item.Header.Contains("Women"))
                                            {
                                                categoryId = 2;
                                            }
                                            else if (item.Header.Contains("Men"))
                                            {
                                                categoryId = 3;
                                            }
                                            else if (item.Header.Contains("Kids"))
                                            {
                                                categoryId = 4;
                                            }

                                            string categoryUrl = $"/Category/GetProductByCategory/{categoryId}";
                                        }
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="@categoryUrl">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item position-relative" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="@item.Image" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">@item.Header</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">@item.Content</p>
                                        @{
                                            int categoryId = 0;
                                            if (item.Header.Contains("Women"))
                                            {
                                                categoryId = 2;
                                            }
                                            else if (item.Header.Contains("Men"))
                                            {
                                                categoryId = 3;
                                            }
                                            else if (item.Header.Contains("Kids"))
                                            {
                                                categoryId = 4;
                                            }

                                            string categoryUrl = $"/Category/GetProductByCategory/{categoryId}";
                                        }
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="@categoryUrl">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            @foreach(var item in rightSliders)
            {
                <div class="product-offer mb-30" style="height: 200px;">
                    <img class="img-fluid" src="@item.Image" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">@item.Header</h6>
                        <h3 class="text-white mb-3">@item.Content</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
