@using MultiShop.Business.Dtos
@model ProductDetailDto
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    @foreach(var item in Model.Product.ProductImages)
                    {
                        if (item.Order == 1)
                        {
                            <div class="carousel-item active">
                                <img class="w-100" style="object-fit: contain; height: 700px" src="@item.Image" alt="Image">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img class="w-100" style="object-fit: contain; height: 700px" src="@item.Image" alt="Image">
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Model.Product.ProductName</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        @{
                            int counter = 0;
                            var totalRate = 0;

                            @foreach (var com in Model.Product.ProductComments)
                            {
                                counter++;
                                totalRate += com.Rating;
                            }

                            decimal dblAvgRate = 0;
                            int avgRate = 0;

                            if (counter > 0)
                            {
                                dblAvgRate = (decimal)totalRate / counter;
                                avgRate = (int)Math.Round((dblAvgRate), 0);

                                @for (int x = 1; x <= avgRate; x++)
                                {
                                    <i class="fas fa-star"></i> @* dolu yıldız (fas) *@
                                }
                                @if (avgRate < 5)
                                {
                                    for (int y = 1; y <= 5 - avgRate; y++)
                                    {
                                        <i class="far fa-star"></i> @* boş yıldız (far) *@
                                    }
                                }
                            }
                            else
                            {
                                for (int y = 1; y <= 5; y++)
                                {
                                    <i class="far fa-star"></i> @* boş yıldız (far) *@
                                }
                            }
                        }
                    </div>
                    <small class="pt-1">(@Model.Product.ProductComments?.Count() reviews)</small>
                </div>
                @if (Model.Product.SalePrice != null)
                {
                    <h3 class="font-weight-semi-bold mb-4">$@Model.Product.SalePrice</h3><h5 class="text-muted ml-2"><del>$@Model.Product.Price</del></h5>
                }
                else
                {
                    <h3 class="font-weight-semi-bold mb-4">$@Model.Product.Price</h3>
                }
                <p class="mb-4">
                    @Model.Product.Description
                </p>
                <div class="d-flex mb-3">
                    <strong class="text-dark mr-3">Sizes:</strong>
                    <form>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-1" name="size">
                            <label class="custom-control-label" for="size-1">XS</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-2" name="size">
                            <label class="custom-control-label" for="size-2">S</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-3" name="size">
                            <label class="custom-control-label" for="size-3">M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-4" name="size">
                            <label class="custom-control-label" for="size-4">L</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-5" name="size">
                            <label class="custom-control-label" for="size-5">XL</label>
                        </div>
                    </form>
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-3">Colors:</strong>
                    <form>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-1" name="color">
                            <label class="custom-control-label" for="color-1">Black</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-2" name="color">
                            <label class="custom-control-label" for="color-2">White</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-3" name="color">
                            <label class="custom-control-label" for="color-3">Red</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-4" name="color">
                            <label class="custom-control-label" for="color-4">Blue</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="color-5" name="color">
                            <label class="custom-control-label" for="color-5">Green</label>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                </div>
                <div class="d-flex pt-2">
                    <strong class="text-dark mr-2">Share on:</strong>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Detail</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (@Model.Product.ProductComments?.Count())</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Detail</h4>
                        <p>@Model.Product.Detail</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">Additional Information</h4>
                        <p>@Model.Product.Information</p>
                        @* <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                    </li>
                                    <li class="list-group-item px-0">
                                        Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                    </li>
                                </ul>
                            </div>
                        </div> *@
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">@Model.Product.ProductComments?.Count() review for "@Model.Product.ProductName"</h4>
                                @foreach(var item in Model.Product.ProductComments)
                                {
                                    <div class="media mb-4">
                                        <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;"> @* kullanıcı fotosu eklenecek ya da buradan image kodu silinecek. *@
                                        <div class="media-body">
                                            <h6>@item.CommenterName<small> - <i>@item.CreatedDate</i></small></h6>
                                            <div class="text-primary mb-2">
                                                @{
                                                    int x = item.Rating;
                                                }
                                                @for (x = 1; x <= item.Rating; x++)
                                                {
                                                    <i class="fas fa-star"></i> @* dolu yıldız (fas) *@
                                                }
                                                @if(item.Rating < 5)
                                                {
                                                    for (int y = 1; y <= 5 - item.Rating; y++)
                                                    {
                                                        <i class="far fa-star"></i> @* boş yıldız (far) *@
                                                    }
                                                }
                                            </div>
                                            <p>@item.Comment</p>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <form action="/Product/Comment" method="get">
                                    <div class="form-group d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary" id="rating">
                                            <i class="far fa-star star" data-index="1" style="cursor: pointer; font-size: 1rem;"></i>
                                            <i class="far fa-star star" data-index="2" style="cursor: pointer; font-size: 1rem;"></i>
                                            <i class="far fa-star star" data-index="3" style="cursor: pointer; font-size: 1rem;"></i>
                                            <i class="far fa-star star" data-index="4" style="cursor: pointer; font-size: 1rem;"></i>
                                            <i class="far fa-star star" data-index="5" style="cursor: pointer; font-size: 1rem;"></i>
                                        </div>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', () => {
                                                const stars = document.querySelectorAll('.star');

                                                stars.forEach((star, index) => {
                                                    star.addEventListener('click', () => {
                                                        stars.forEach((s, i) => {
                                                            if (i <= index) {
                                                                s.classList.remove('far');
                                                                s.classList.add('fas');
                                                            } else {
                                                                s.classList.remove('fas');
                                                                s.classList.add('far');
                                                            }
                                                        });
                                                    });
                                                });
                                            });
                                        </script>
                                    </div>
                                    <input type="hidden" id="rating-value" name="rating" value="0">
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Your Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @foreach(var item in Model.Products)
                {
                    <div class="product-item bg-light">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@item.ProductImages?.FirstOrDefault()?.Image" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="/Product/Detail/@item.ProductId">@item.ProductName</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>$@item.SalePrice</h5><h6 class="text-muted ml-2"><del>$@item.Price</del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                @{
                                    int localCounter = 0;
                                    var localTotalRate = 0;

                                    @foreach (var com in Model.Product.ProductComments)
                                    {
                                        localCounter++;
                                        localTotalRate += com.Rating;
                                    }

                                    decimal localDblAvgRate = 0;
                                    int localAvgRate = 0;

                                    if (localCounter > 0)
                                    {
                                        localDblAvgRate = (decimal)localTotalRate / localCounter;
                                        localAvgRate = (int)Math.Round((localDblAvgRate), 0);

                                        @for (int x = 1; x <= localAvgRate; x++)
                                        {
                                            <i class="fas fa-star"></i> @* dolu yıldız (fas) *@
                                        }
                                        // @if (localAvgRate < 5)
                                        // {
                                            for (int y = 1; y <= 5 - localAvgRate; y++)
                                            {
                                                <i class="far fa-star"></i> @* boş yıldız (far) *@
                                            }
                                        // }
                                    }
                                    else
                                    {
                                        for (int y = 1; y <= 5; y++)
                                        {
                                            <i class="far fa-star"></i> @* boş yıldız (far) *@
                                        }
                                    }
                                }
                                @* @{
                                    int localCounter = 0;
                                    var localTotalRate = 0;
                                    double localAvgRate = 0;
                                }
                                    @foreach (var com in item.ProductComments)
                                    {
                                        localCounter++;
                                        localTotalRate = +com.Rating;
                                    }

                                    @if (counter > 0)
                                    {
                                        localAvgRate = (double)totalRate / counter;
                                    }

                                    @for (int x = 1; x <= avgRate; x++)
                                    {
                                        <i class="fas fa-star"></i>  dolu yıldız (fas) 
                                    }
                                    @if (avgRate < 5)
                                    {
                                        for (int y = 1; y <= 5 - avgRate; y++)
                                        {
                                            <i class="far fa-star"></i>  boş yıldız (far) 
                                        }
                                    } *@
                                
                                @* <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small> *@
                                <small>(@item.ProductComments?.Count())</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Products End -->
