@using MultiShop.Business.Dtos
@model List<ProductDto>
<div class="row px-xl-5">
    @*.product-img img {
    width: 100% !important;*/ /* Genişliği konteynırın genişliğine göre ayarlar */
    /*height: 200px !important;*/ /* Yüksekliği sabitler */
    /*object-fit: cover !important;*/ /* Resimlerin konteynır içinde düzgün şekilde kırpılmasını sağlar */
    /*display: block !important;
    }*@
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <a href="/Product/Detail/@item.ProductId"><img class="img-fluid w-100" style="height: 200px !important; object-fit: contain !important;" src="@(item.ProductImages?.FirstOrDefault()?.Image)" alt=""></a>
                    @* "@item.ProductImages?.FirstOrDefault().Image" ifadesi null olabilir veriyordu, onun yerine
                    "" @(item.ProductImages.FirstOrDefault()?.Image ?? "defaultImagePath")"" ifadesini kullandım (chatgpt)
                    resim var ise ilkini getir, yoksa default resmi getir *@
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a> @* chart a eklenecek. *@
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a> @* favorites a eklenecek. *@
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a> @* similar products gelecek. *@
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a> @* product name ile arama yapacak. *@
                                                                   
                    </div>
                </div>
                <div class="text-center py-4">
                                                                     @* daha sonra @item.ProductLink olacak (handwoven-jute-basket) *@
                    <a class="h6 text-decoration-none text-truncate" href="/Product/Detail/@item.ProductId">@item.ProductName</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        @if (item.SalePrice != null)
                        {
                            <h5>$@item.SalePrice</h5><h6 class="text-muted ml-2"><del>$@item.Price</del></h6>
                        }
                        else
                        {
                            <h5>$@item.Price</h5>
                        }
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(@item.ProductComments?.Count())</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

